# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider IDE
.idea/

# NuGet packages
*.nupkg
packages/

# Resharper
_ReSharper*/
*.DotSettings.user

# Others
*.log
*.tlog
*.tmp
*.cache
